
alias ls="ls --color=auto"
alias ll="ls -Alhp --group-directories-first"

alias gs="git status"
alias gc="git commit"
alias gp="git push"
alias ga="git add"
alias gl="git log --all --oneline --decorate"

alias cddow="cd /mnt/c/Users/a1942130/Downloads"
alias cddoc="cd '/mnt/c/Users/a1942130/OneDrive - Northern Illinois University/Documents'"
alias cddes="cd /mnt/c/Users/a1942130/Desktop"
alias cduse="cd /mnt/c/Users/a1942130"

export PSHOME="/mnt/c/Windows/System32/WindowsPowerShell/v1.0"

alias just-rebuild="cd ~/Documents/github/nixos-config && sudo nixos-rebuild switch --flake '.#powerhouse' ; cd -"

if [[ $(command -v bat) ]]; then
  alias cat=bat
fi

