
alias ll="ls -aAlhp --group-directories-first"

alias gs="git status"
alias gc="git commit"
alias gp="git push"
alias ga="git add"
alias gl="git log --all --oneline --decorate"

alias cddow="cd /mnt/c/Users/a1942130/Downloads"
alias cddoc="cd '/mnt/c/Users/a1942130/OneDrive - Northern Illinois University/Documents'"
alias cddes="cd /mnt/c/Users/a1942130/Desktop"
